*{
    scroll-behavior: smooth;
}
body{
    margin:0;
}
nav{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
height: 4vmax;
display: flex;
align-items: center;
position:sticky;
top: 0%;
background-color: white;
z-index: 100000;
}
.left{
    width: 20%;
    display: flex;
    justify-content: center;

}
.left>a{
text-decoration:none;
color: crimson;
font-size: 2vmax;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.middle{
    width: 60%;
   
 
    display: flex;
    justify-content: space-evenly;
    

  
}
.middle>a{
    text-decoration:none;
color: black;
font-size: 1.4vmax;
width: 100%;
display: flex;
justify-content: center;


}
.middle>a:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
    align-self: stretch;
}
.right{
    width: 20%;

    display: flex;
    justify-content: center;
}
.right>img{
    width: 1.4vmax;
    display: flex;
    margin: 1vmax;
    cursor: pointer;
    
}
.home{
    /* border: 1px solid crimson; */
    height: 90vh;
    background-image: linear-gradient(to right,rgb(243, 245, 245),rgb(224, 224, 236));
    display: flex;

}
.container{
    /* border: 1px solid yellow; */
  
    width: 100%;
  
}
#rightContainer{
    display:flex;
    justify-content: center;
    
}
#rightContainer>img{
    height:80%;
    width:80%;
    margin-top: 5vmax;
    align-items: center;
    filter: drop-shadow(0,0,10px rgba(214, 50, 50, 0.678));
}
#leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vmax; 
    box-sizing: border-box;
    
}
#leftContainer>h1{
    margin-left: 2%;
/* margin: 0; */
color: black;
 font-size: 4vmax;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* #leftContainer>h1{
    
margin: 0;
 font-size: 4vmax;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
#leftContainer>h2{
    margin-left: 2%;
    margin-top: -2%;
    font-size: 2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#leftContainer>h4{
    font-size: 1vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
#btn{
    height: 40px;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(209, 102, 102);
    border-radius: 2vmax;
    color: white;
    cursor: pointer;
}
/* 

products sections 
*/
#products{
    
    height: 100vh;
  
}
#products>h1{
   text-align: center;
   margin: 5vmax auto;
   color:crimson;
   font-size: 2vmax;
   border-bottom: 3px solid crimson;
   padding: 1vmax;
   width: 25vw;
}
.productsContainer{
    display: flex;
    /* background-color: aquamarine; */
    flex-wrap: wrap;
    height: 100%;
   max-width:80vw;
   margin: auto;
   justify-content: space-evenly;
   justify-content: center;
}
/* products ------------------- */
.product{
    /* border: 2px solid greenyellow; */
    transition: all 0.3s;
    cursor: pointer;
    width: 20vmax;
    /* height: 22vmax; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1px; */
}
.product>img{
   
    width: 15vmax;
    height: 25vmax;

}
.product>h4{
margin: 0;
}
.product>h5{
    margin: 0;
}
.product:hover{
    transform:translateY(-2px);
}
/* product----------------- */
footer{
   margin-top: 20vmax;
    /* height: 10vmax; */
    padding: 2vmax;
    background-color:rgb(53, 44, 44);
    display: flex;
    /* justify-content: space-evenly; */
    
}
.leftFooter{
    width: 20%;
    /* border: 2px solid crimson; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
.leftFooter>h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.leftFooter>p{
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.leftFooter>img{
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}
.middleFooter{
    width: 60%;
    /* border: 2px solid crimson; */

}
.rightFooter{
    width: 20%;
    /* border: 2px solid crimson; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.rightFooter>h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
.rightFooter>a{
    text-decoration: none;
    color: white;
    margin: 1vmax;
    font-size: large;
}
.middleFooter>p,h1{
    text-align: center;
    color: white;
}
